<footer>
  <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />
    <div class="justify-self-center my-8">
      <p class="text-md leading-none text-gray-900 dark:text-white">
        Build by
        <a
          href={import.meta.env.PUBLIC_PORTFOLIO_LINK}
          target="_blank"
          class="underline hover:text-link-hover-foreground"
        >
          Ritesh.
        </a>
        Check out my other
        <a
          href={import.meta.env.PUBLIC_GITHUB_LINK}
          target="_blank"
          class="underline hover:text-link-hover-foreground"
        >
          Github Codes.
        </a>
      </p>
    </div>
  </div>
</footer>
