---
import SearchIcon from "@/images/simple-icons/search.svg";
---

<form class="flex items-center mx-auto">
  <label for="simple-search" class="sr-only">Search</label>
  <div class="relative w-full">
    <div
      class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
    >
      <SearchIcon
        class="w-4 h-4 text-gray-500 dark:text-gray-400"
        aria-hidden="true"
      />
    </div>
    <input
      type="text"
      id="simple-search"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
      placeholder="Search articles..."
      required
    />
  </div>
  <button
    type="submit"
    class="p-2.5 ms-2 text-sm font-medium text-white bg-primary-700 rounded-lg border border-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
  >
    <SearchIcon class="w-4 h-4" aria-hidden="true" />
    <span class="sr-only">Search</span>
  </button>
</form>
